:root {
    --primary-color: rgb(73, 148, 236);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
}

input {
    border: none;
    padding: .5rem;
    border-bottom: 1px solid rgba(183, 184, 188, 0.45);
    background: transparent;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary-color);
    color: #fff;
    gap: 1rem;
    border: none;
    padding: 1rem 2rem;
}

button svg {
    color: #fff;
}

.container {
    width: 60%;
    margin: 0 auto;
}

section,
footer {
    padding: 3rem;
}

.bg-gray {
    background: rgb(249, 249, 249);
}

.section-title, .footer-title {
    position: relative;
}

.section-title::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 3px;
    top: 100%;
    background-color: var(--primary-color);
    left: 0;
}

header {
    height: 4rem;
    display: flex;
    align-items: center;
}

header .flexbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

header .container .logo svg {
    width: 3rem;
    height: 3rem;
}

header .container .block {
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 100%;
}

header .container .block svg {
    cursor: pointer;
    color: black;
    transition: color .3s ease, border-color .3s ease;
}

header .container .block svg:hover {
    color: var(--primary-color);
}

header .container ul {
    display: flex;
    align-items: center;
    gap: .2rem;
    height: 100%;
}

header .container li {
    padding: 1rem;
    cursor: pointer;
    position: relative;
    transition: color .3s ease, border-color .3s ease;
    height: 100%;
    display: flex;
    align-items: center;
}

header .container li.active {
    color: var(--primary-color);
    border-top: 2px solid var(--primary-color);
}

header .container .block li:hover:not(.active) {
    color: var(--primary-color);
    border-top: 2px solid var(--primary-color);
}

.hero-section {
    background: url("../images/main-image.jpg");
    height: calc(100vh - 4rem);
    background-size: cover;
    display: flex;
    align-items: center;
}

.hero-section button {
    background: white;
    color: black;
}

.hero-section .flexbox {
    gap: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.hero-section .container h1 {
    font-size: 56px;
    color: #fff;
}

.hero-section .container p {
    color: #fff;
}

.section-info .flexbox {
    display: flex;
}

.section-info .container div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
}

.section-info h3,
.section-info svg{
    color: var(--primary-color);
}

.section-info p {
    color: gray;
}

.section-video .flexbox {
    gap: 1rem;
    display: flex;
}

.section-video .text-block {
    width: 60%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    color: var(--primary-color);
}

.section-video .text-block ul {
    display: flex;
    gap: 2rem;
    justify-content: center;
    border-bottom: 1px solid #b7b8bc;
}

.section-video .text-block ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
    cursor: pointer;
}

.active-item {
    background: #4a90e2;
    color: white;
}

.active-item svg {
    color: white;
}

.section-video .text-block ul li p {
    font-size: 14px;
    font-weight: 500;
}

.texts {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem;
}

.texts p {
    line-height: 1.6;
    color: gray;
    font-size: 14px;
}

.section-video .video-image {
    width: 40%;
    display: flex;
}

.section-video .video-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.services .flexbox {
    display: flex;
    gap: 2rem;
    flex-direction: column;
}

.services .our-services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.our-services > div {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.our-services h4 {
    color: var(--primary-color);
}

.our-services p {
    color: #b7b8bc;
}

.our-services > div div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.section-portfolio .flexbox {
    gap: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.up {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.up ul {
    display: flex;
    gap: 1rem;
}

.up ul li {
    padding: 0.5rem 1rem;
    border-radius: 10px;
    transition: color .3s ease, border-color .3s ease;
}

.up ul li:not(.active-link) {
    background: rgba(128, 128, 128, 0.38);
}

.active-link {
    background: var(--primary-color);
    color: #fff;
}

.up ul li:hover {
    background: var(--primary-color);
    color: #fff;
    cursor: pointer;
}

.down {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.down img {
    object-fit: cover;
    width: 100%;
    height: 15rem;
}

.section-statistics .flexbox {
    display: flex;
    justify-content: space-between;
}

.section-statistics .container div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
}

.number {
    font-size: 26px;
    font-weight: bold;
}

.section-statistics svg {
    color: var(--primary-color);
}

.statistics-text {
    color: gray;
}

.our-team .flexbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.our-team-images {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.our-team-images img {
    width: 12rem;
    height: 12rem;
    object-fit: cover;
}

.our-team-images > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 1px 1px 2px gray;
}

.team-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: .5rem;
}

.team-info p {
    color: var(--primary-color);
}

.team-info span {
    color: gray;
    font-size: 14px;
}

.social-icons {
    display: flex;
    gap: 1rem;
}

.social-icons svg {
    color: gray;
}

.section-feedback .flexbox {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.section-feedback .container .user-info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    color: #b7b8bd;
}
.section-feedback .container .user-info .position {
    color: rgb(255, 255, 255, 0.5);
}

.section-feedback {
    background: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section-feedback img {
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    border-radius: 50%;
}

.section-feedback p,
.section-feedback span {
    color: #fff;
    text-align: center;
}

.dots-box {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.dots-box div {
    width: .5rem;
    height: .5rem;
}

.dots-box div:not(.active-dot) {
    background: rgba(255, 255, 255, 0.2);
}

.active-dot {
    background: white;
}

.section-customers .flexbox {
    display: flex;
    justify-content: space-between;
}

.section-customers img {
    object-fit: cover;
    width: 12rem;
    height: 7rem;
}

.section-stories .section-title {
    width: 100%;
}

.section-stories .flexbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.section-stories .stories {
    display: flex;
    gap: 1rem;
}

.section-stories .container .story-description {
    padding: 0.5rem;
}

.section-stories .container .story-description p{
    margin-top: 0.5rem;
}

.section-stories .container .story-description h4 {
    color: var(--primary-color);
}

.stories img {
    object-fit: cover;
    width: 100%;
}

.stories > div {
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 2px rgba(128, 128, 128, 0.55);
}

.stories div span {
    color: var(--primary-color);
}

.details .comments {
    display: flex;
    align-items: center;
    gap: .5rem;
    color: var(--primary-color);
}

.details .arrow-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
}

.section-stories .details {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    border-top: 1px solid rgba(128, 128, 128, 0.32);
}

.details h4 {
    color: var(--primary-color);
}

.contact .flexbox {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.contact .contact-info svg {
    background: var(--primary-color);
    color: white;
    font-size: 12px;
}

.contact .contact-info {
    width: 70%;
}

.contact .input-field {
    width: 30%;
}

.contact .input-field,
.contact .contact-info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.contact .contact-info > div {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.contact .contact-info > div > div {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--primary-color);
}

.contact .contact-info > div > div > svg {
    width: 16px;
    height: 16px;
}

.contact-block {
    display: flex;
    align-items: center;
}

footer {
    background-color: rgb(51, 51, 51);
    color: #fff;
    border-top: 3px solid var(--primary-color);
}

footer .grid-box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

footer .about,
footer .recent-posts,
footer .quick-link,
footer .our-gallery {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer-title .line {
    display: block;
    width: 50px;
    height: 2px;
    background-color: rgb(73, 148, 236);
}

footer p {
    font-size: 14px;
    line-height: 1.6;
    color: #bdc3c7;
}

.socials {
    display: flex;
    gap: 1rem;
    margin-top: 0.5rem;
}

.socials svg {
    transition: color 0.3s;
}

.socials svg:hover {
    cursor: pointer;
    color: #e74c3c;
}

.social-icons svg:hover {
    color: #e74c3c;
    cursor: pointer;
}

.socials svg {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.links {
    display: flex;
    gap: 2rem;
}

.links .company-links,
.links .support-links {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.links a {
    color: #bdc3c7;
    font-size: 14px;
    transition: color 0.3s;
}

.links a:hover {
    color: #e74c3c;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.3rem;
}

.gallery img {
    width: 100%;
    height: 50px;
    object-fit: cover;
}

.section-end {
    padding: 1rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
    color: #fff;
    background: black;
}

#blue {
    color: var(--primary-color);
}

@media (max-width: 1400px) {
    .our-team .container .our-team-images {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 1rem;
    }

    .our-team .container .our-team-images > div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .our-team .container .our-team-images img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        object-position: center;
    }

    .section-customers .container {
        display: flex;
        align-items: center;
        gap: 1rem;
        justify-content: space-between;
    }

    .section-portfolio .container .up ul {
        display: none;
    }
}

@media (max-width: 992px) {
    .header {
        padding: .5rem;
    }

    .header .container .block {
        display: none;
    }

    .header .container .logo {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .hero-section .container h1 {
        font-size: 32px;
        color: #fff;
    }

    .section-info .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

    .section-video .flexbox {
        flex-direction: column;
    }

    .section-video .text-block,
    .section-video .video-image {
        width: 100%;
    }

    .section-portfolio ul {
        display: none;
    }

    .services .container .our-services {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    footer .grid-box {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }

    .section-portfolio .down {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    button {
        color: white;
        font-size: 14px;
    }

    .our-services {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .section-customers .container img {
        width: 120px;
        height: 100px;
    }

}

@media (max-width: 768px) {
    .section-video .text-block ul {
        gap: 1rem;
    }

    .section-video .text-block ul li {
        padding: 0.3rem;
    }

    .section-video .text-block ul li p {
        font-size: 12px;
    }

    .texts {
        padding: 1rem;
    }

    .texts p {
        font-size: 14px;
    }

    .section-info .flexbox {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        justify-content: center;
        align-items: center;
    }

    .section-info svg {
        width: 32px;
        height: 32px;
    }

    .section-info div h3 {
        font-size: 20px;
    }

    .section-info div p {
        font-size: 14px;
    }

    .services .container .our-services {
        display: flex;
        flex-direction: column;
    }

    .services .container .our-services > div {
        padding-bottom: 0.5rem;
    }

    .section-portfolio .container .down {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .section-statistics .flexbox {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .section-portfolio .container .up ul {
        display: none
    }

    .section-statistics .container div {
        display: flex;
        justify-content: center;
        gap: .5rem;
    }

    .section-statistics .container div span {
        font-size: 14px;
    }

    .section-statistics .container div svg {
        width: 32px;
        height: 32px;
    }

    .our-team {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .our-team .container .our-team-images {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .our-team-images > div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .section-feedback .container img {
        width: 40px;
        height: 40px;
    }

    .section-feedback .container span, p {
        font-size: 14px;
    }

    .section-customers .flexbox {
        display: flex;
        flex-direction: column;
    }

    .stories {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    .section-stories .container .story-description h4 {
        font-size: 16px;
    }

    .section-stories .container .story-description p {
        font-size: 14px;
    }

    .stories div .details {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .stories div .details .comments, .arrow-icon {
        width: 100%;
    }

    .stories div .details .arrow-icon {
        display: flex;
        justify-content: end;
    }

    .contact .contact-block {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .contact .contact-info,
    .contact .input-field {
        width: 100%;
    }

    .section-end p {
        font-size: 12px;
    }

    footer .about,
    footer .recent-posts,
    footer .quick-link,
    footer .our-gallery {
        text-align: center;
        align-items: center;
    }

    .socials {
        justify-content: center;
    }

    .links {
        justify-content: center;
    }

    .section-portfolio {
        min-height: auto;
        padding: 3rem;
    }

    .button {
        font-size: 12px;
    }

    .our-team .container .team-info {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .header {
        padding: .5rem;
    }

    .section-title h2 {
        font-size: 20px;
    }

    .up ul li {
        padding: 0.4rem 0.7rem;
        font-size: 12px;
    }

    .section-info svg {
        width: 32px;
        height: 32px;
    }

    footer .grid-box {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
    }

    .section-video .container .text-block .first-col svg {
        width: 16px;
        height: 16px;
    }

    .section-video .container .text-block .first-col p {
        font-size: 12px;
    }

    button {
        padding: 1rem 2rem;
        gap: .5rem;
        font-size: 12px;
    }

} 